<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="with=device-width, initial-scale = 1.0">
        <link rel="icon" type="image/png" href="/images/Chatbooks_logo.jpeg">
        <title>ChatChapter</title>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <section class="view" id = "view">
            <%- include('../partials/header',headerLinks) %>
            <%-body %>
        </section>
    </body>
</html>

