<form action="logout?_method=DELETE" method="POST">
    <button type = "submit">Log Out</button>
</form>

<div class="homepage-introduction">
    <h1>Welcome to ChatChapter</h1>
    <p>Create your own stories with your family, friends and pets as characters using AI</p>
</div>


