<div class = "loader"></div>
<div id="data-container" data-title="<%= title %>" data-id1="<%= _id1 %>" data-id2="<%= _id2 %>"></div>
<div class = "paragraphs">
    <div class="paragraph-bundle">
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
    </div>
    <p></p>
    <div class="paragraph-bundle">
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
    </div>
    <p></p>
    <div class="paragraph-bundle">
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
    </div>
    <p></p>
    <div class="paragraph-bundle">
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
    </div>
    <p></p>
    <div class="paragraph-bundle">
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
        <p class ="skeleton-text skeleton"></p>
    </div>
</div>
<script src="/scripts/templates/generate.js"></script>



