<div class = "loader"></div>
<script>
    async function generateMessage() {
        try {
            // Make an AJAX request to the server
            const response = await fetch(`/templates/generateMessage?_id1=<%= _id1 %>&_id2=<%= _id2 %>`)
            const loader = document.querySelector(".loader")
            loader.classList.add("loader-hidden")
            loader.addEventListener("transitionend",()=>{
                document.body.removeChild("loader")
            })
            if (response.ok) {
                // Get the message from the response
                const paragraphs = await response.json();
                // Create a document fragment to hold the paragraphs
                const fragment = document.createDocumentFragment();
                // Create <p> elements for each paragraph and append them to the fragment
                paragraphs.forEach(paragraph => {
                    const pElement = document.createElement('p');
                    pElement.textContent = paragraph;
                    fragment.appendChild(pElement);
                });

                const paragraphsDiv = document.createElement('div');
                paragraphsDiv.classList.add('paragraphs');

                // Append the document fragment (with all <p> elements) to the paragraphs <div>
                paragraphsDiv.appendChild(fragment);

                // Get the container where you want to add the paragraphs div
                const container = document.getElementById("view"); // Replace "container" with the actual ID of the desired container

                // Append the paragraphs div to the container
                container.appendChild(paragraphsDiv);
            } else {
                console.error('Error:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
    // Automatically trigger the message generation when the page loads
    window.addEventListener('load', generateMessage);
</script>



