<div class="text-box">
    <h1>Pirate Adventure:</h1>
    <div class="character">
        <label for="character1">Character1:</label>
        <select name="character1" id="character1"></select>
    </div>
    <div class="character">
        <label for="character2">Character2:</label>
        <select name="character2" id="character2"></select>
    </div>
    <a href="generateText.html"><button id="generate-button" type = "button">Generate</button></a>
</div>