<img src="<%= imageURL %>" alt="Generated Image" class="stableDiffusion">
<div class = "paragraphs">
    <% for (let paragraph of story) { %>
        <p><%= paragraph %></p>
    <% } %>
</div>
<form class="save-story" action="/stories/edit" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <input type="hidden" name="id" value="<%= id %>"> 
    <button type="submit">Save</button>
</form>


