@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/textBox.css';
@import 'shared/table.css';

:root{
    font-family: 'Tektur';
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.view{
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/orange_chess.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*pre{
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,0);
    border-collapse: collapse;
    display: inline-block;
    width: auto;
    background-color: white;
    border: 2px solid black;
}*/

.paragraphs{
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,0);
    border-collapse: collapse;
    width: 50%;
    background-color: white;
    padding: 5%;
}


