.basic-header {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    color:white;
}


/*.homepage-introduction p {
    font-size: 25px;
    line-height: 1.5;
}
/*