@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-Bold.woff2') format('woff2'),
        url('/fonts/TekturCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-Black.woff2') format('woff2'),
        url('/fonts/TekturCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Bold.woff2') format('woff2'),
        url('/fonts/Tektur-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Black.woff2') format('woff2'),
        url('/fonts/Tektur-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Regular.woff2') format('woff2'),
        url('/fonts/Tektur-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-ExtraBold.woff2') format('woff2'),
        url('/fonts/TekturCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-Regular.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/TekturCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-Medium.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-ExtraBold.woff2') format('woff2'),
        url('/fonts/Tektur-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-SemiBold.woff2') format('woff2'),
        url('/fonts/Tektur-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-Regular.woff2') format('woff2'),
        url('/fonts/TekturCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('/fonts/Tektur-Medium.woff2') format('woff2'),
        url('/fonts/Tektur-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-Black.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur SemiCondensed';
    src: url('/fonts/TekturSemiCondensed-Bold.woff2') format('woff2'),
        url('/fonts/TekturSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur Condensed';
    src: url('/fonts/TekturCondensed-Medium.woff2') format('woff2'),
        url('/fonts/TekturCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

