/* Sidebar container */
.side-menu {
  height: 1000px;
  width: 250px; /* Set the width of the sidebar */
  background-color: white; /* Sidebar background color */
  padding: 20px;
}
  
/* List item styles */
.side-menu ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin-bottom: 10px; /* Add some space between list items */
  position: relative;
}

/* Link styles */
.side-menu a {
  color:black;
  text-decoration: none;
  font-size: 20px;
}

.side-menu li::after{
  position: absolute; /* Position the pseudo-element relative to the li */
  left: 0; /* Position it on the furthest left side */
  bottom: 0; /* Position it at the bottom of the li (adjust as needed) */
  content: '';
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
}

.side-menu li:hover::after{
    width: 100%;
    transition: 1s;
}

.side-menu h2{
  padding-bottom: 10px;
}