<div class = "text-box">
    <form action = "/characters" method = "POST">
        <h1>Basic Character:</h1>
            <div class="input">
                <label for = "name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input">
                <label for = "hobby">Hobby</label>
                <input type="text" id="hobby" name="hobby" required>
            </div>
            <div class="input">
                <label for = "trait">Trait</label>
                <input type="text" id="trait" name="trait" required>
            </div>
            <button type="submit">Save</button>
    </form>
</div>
