<div class="text-box">
    <h1>Basic Character:</h1>
    <form>
        <p>Name: <input id="name-input" type = "text"></p>
        <p>Hobby: <input id="hobby-input" type = "text"></p>
        <p>Trait: <input id="trait-input" type = "text"></p>
    </form>
    <a href="charachters.html"><button id="save-button" type = "button">Save</button></a>
</div>